<p>Create component works!</p>

<a [routerLink]="['/home']">Cancel</a>

<h3>Put the question and options here:</h3>

<form #myForm = "ngForm" (ngSubmit)="onSubmit()" method="post">
  Question: <input type="text" name="question" required minlength="8" [(ngModel)] = "sur.question" #question ="ngModel">  <span style="color:red" *ngIf="!question.valid">Question requires at least 8 characters!</span><br>
  Option 1: <input type="text" name="answer1"  required minlength="3" [(ngModel)] = 'sur.answer1' #answer1 = 'ngModel'> <span style="color:red" *ngIf="!answer1.valid">Option 1 requires at least 3 characters!</span><br>
  Option 2: <input type="text" name="answer2"  required minlength="3" [(ngModel)] = 'sur.answer2' #answer2 = 'ngModel'> <span style="color:red" *ngIf="!answer2.valid">Option 2 irequires at least 3 characters!</span><br>
  Option 3: <input type="text" name="answer3"  required minlength="3" [(ngModel)] = 'sur.answer3' #answer3 = 'ngModel'> <span style="color:red" *ngIf="!answer3.valid">Option 3 requires at least 3 characters!</span><br>
  Option 4: <input type="text" name="answer4"  required minlength="3" [(ngModel)] = 'sur.answer4' #answer4 = 'ngModel'> <span style="color:red" *ngIf="!answer4.valid">Option 4 requires at least 3 characters!</span><br>
  <button type="submit" name="submit" [disabled]="!myForm.valid">Create Poll</button>
</form>